@use '../abstracts/vars';
@use '../abstracts/media-queries';

.input-search {
    background: vars.$clr-gray-50;
    border: none;
    border-radius: 17px;
    width: 248px;
    height: 49px;

    @include media-queries.respond-to(vars.$phone) {
        width: 120px;
        height: 26.11px;
    }
}

.input-search ::placeholder {
    color: vars.$clr-white;
    font-size: vars.$fs-mdl;
    padding-left: 25px;
 
    @include media-queries.respond-to(vars.$phone) {
        font-size: vars.$fs-sm;
        padding-left: 0px;
    }
}

@media screen and (vars.$phone) {
    .input-search img {
        width: 15px;
        height: 15px;
        margin-bottom: 50px;
    }
}

.login-input {
    background-color: vars.$clr-gray-50;
    color: vars.$clr-black;
    font-family: vars.$ff-primary;
    font-size: vars.$fs-rg;
    font-weight: vars.$fw-reg;
    border-radius: 2vh;
    width: 40vh;
    margin-top: 3vh;

    @include media-queries.respond-to(vars.$phone) {
        width: 140.289px;
        justify-content: space-between;
    }
}