@use '../abstracts/vars';
@use '../abstracts/media-queries';

.logo {
    margin-left: 55px;
    margin-right: 41px;
    width: 272px;
    height: 72px;

    @include media-queries.respond-to(vars.$phone) {
        margin-left: 10px;
        width: 122px;
        height: 33px;
    }
}

.banner {
    background: none;
    border-radius: none;

    @include media-queries.respond-to(vars.$phone) {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='116, 37, 57'%3e%3cpath stroke='green' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
    margin-right: 20px;
}

.user-img {
    width: 188px;
    height: 188px;
}